<% $.each(items, function(index,item) { %>
<div class="floor1 floor">
	<p class="by_title"><%=item.item_title%></p>
	<span class="by_ms">心水好物排行榜心水好物排行榜心水好物排行榜心水好物排行榜</span>
	<a class="J_GroupFocus" href="javascript:void(0);" data-gid="6000152001"></a>
	<span class="by_english">Mix roses retro romantic tune flavored cotton, with embroidered leggings and pointed shoes,to add a touch of autumn and winter high-profile charm.</span>
	<div class="sp_left">
		<img src="<%=item.item_pic%>" alt="">
	</div>
	<div class="sp_right">
		<img src="<%=item.item_pic1%>" alt="" class="sp_img1">
		<img src="<%=item.item_pic2%>" alt="" class="sp_img2">
	</div>
</div>
<div class="floor2 floor">
	<p class="by_title"><%=item.item_title%></p>
	<span class="by_ms">心水好物排行榜心水好物排行榜心水好物排行榜心水好物排行榜</span>
	<span class="by_english">Mix roses retro romantic tune flavored cotton, with embroidered leggings and pointed shoes,to add a touch of autumn and winter high-profile charm.</span>
	<div class="sp_left">
		<img src="<%=item.item_pic%>" alt="">
	</div>
	<div class="sp_right">
		<img src="<%=item.item_pic1%>" alt="" class="sp_img1">
		<img src="<%=item.item_pic2%>" alt="" class="sp_img2">
	</div>
</div>
<% });%>