/**
 * 图片的垂直居中，注意容器不能设置float，会破坏display的效果，有需要建议在外层增加一层div包裹
 *
 * 正常使用，将该方法设置给img的父元素即可:
 *    div.pic-wrapper
 *      img
 * 若元素需要float:
 *    div.float
 *      div.pic-wrapper
 *        img
 * @param width
 * @param height
 */
/**
 * 兼容一个参数的写法，长宽相等
 */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1468593596_2774174.eot');
  src: url('//at.alicdn.com/t/font_1468593596_2774174.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1468593596_2774174.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1468593596_2774174.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1468593596_2774174.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: 'iconfont';
}
.wb-bytjb-aldtcj .module-wrap {
  font: 12px 'Microsoft Yahei';
  margin: 0 auto;
  min-width: 990px;
  position: relative;
}
.wb-bytjb-aldtcj .module-wrap .clearfix {
  zoom: 1;
}
.wb-bytjb-aldtcj .module-wrap .clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.wb-bytjb-aldtcj .module-wrap img {
  display: block;
  border: 0;
  margin: 0 auto;
}
.wb-bytjb-aldtcj .module-wrap a {
  text-decoration: none;
  outline: none;
}
.wb-bytjb-aldtcj .module-wrap a:hover {
  text-decoration: none;
}
.wb-bytjb-aldtcj .module-wrap .by_con {
  padding-top: 28px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .tbc-dig-count {
  display: none;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 {
  width: 990px;
  margin: 0 auto;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_tm {
  height: 80px;
  position: relative;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .tm_title {
  font-size: 24px;
  padding-left: 130px;
  height: 80px;
  /*line-height: 80px;*/
  width: 360px;
  display: block;
  vertical-align: middle;
  display: table-cell;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_left {
  margin-right: 12px;
  left: 525px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .da_ul {
  width: 374px;
  position: absolute;
  right: 96px;
  top: 15px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .da_ul .da_li {
  margin-right: 22px;
  font-size: 24px;
  width: 159px;
  text-align: center;
  height: 46px;
  line-height: 46px;
  border-radius: 5px;
  display: inline-block;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_right {
  left: 710px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_left,
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_right {
  font-size: 24px;
  /*padding: 0 54px;*/
  width: 159px;
  text-align: center;
  height: 46px;
  line-height: 46px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 15px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .tm_icon {
  position: absolute;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_more {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  right: 0 ;
  top: 0;
  font-size: 20px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_more b {
  width: 40px;
  font-weight: normal;
  display: block;
  margin-left: 19px;
  margin-top: 19px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_more i {
  font-style: normal;
  position: absolute;
  top: 35px;
  right: 5px;
  font-weight: normal;
  font-size: 15px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_two .tm_title {
  width: 359px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_two .da_ul {
  width: 440px;
  right: 58px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_two .da_ul .da_li {
  width: 196px;
  margin-right: 17px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_two .by_more {
  width: 70px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_three .tm_title {
  width: 359px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_three .da_ul {
  width: 440px;
  right: 58px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_three .da_ul .da_li {
  width: 133px;
  margin-right: 5px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_three .by_more {
  width: 70px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_four .tm_title {
  width: 359px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_four .da_ul {
  width: 440px;
  right: 58px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_four .da_ul .da_li {
  width: 100px;
  margin-right: 3px;
}
.wb-bytjb-aldtcj .module-wrap .by_con .by_w990 .by_four .by_more {
  width: 70px;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk {
  width: 420px;
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -210px;
  z-index: 99;
  display: block;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .pic {
  margin: 0 auto;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con {
  width: 420px;
  height: 220px;
  background: #ffffff url('http://img.alicdn.com/tps/TB1OWvRJVXXXXbxXXXXXXXXXXXX-428-265.png') top center no-repeat;
  border-radius: 15px;
  text-align: center;
  padding-top: 40px;
  position: relative;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .bt1 {
  font-size: 38px;
  color: #333;
  font-weight: bold;
  width: 348px;
  display: block;
  margin: 0 auto;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .bt2 {
  font-size: 32px;
  color: #333;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .toast_btn {
  width: 380px;
  height: 57px;
  text-align: center;
  line-height: 57px;
  color: #fff;
  position: absolute;
  left: 18px;
  bottom: 18px;
  background-color: #ff0048;
  font-size: 22px;
  border-radius: 10px;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .toast_btn .tb-icon {
  display: inline-block;
  top: 5px;
  position: relative;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .close {
  width: 185px;
  height: 57px;
  text-align: center;
  line-height: 57px;
  color: #000;
  position: absolute;
  left: 18px;
  bottom: 18px;
  background-color: #fff;
  font-size: 22px;
  border-radius: 10px;
  border: 1px #eee solid;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .sure {
  width: 185px;
  height: 57px;
  text-align: center;
  line-height: 57px;
  color: #fff;
  position: absolute;
  right: 18px;
  bottom: 18px;
  background-color: #ff0048;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}
.wb-bytjb-aldtcj .module-wrap .toast_tk .tk_con .sure .tb-icon {
  display: inline-block;
  top: 5px;
  position: relative;
}
